.disc-setcion .content {
	height: 186px;
	margin: 20px 0;
	box-sizing: border-box;
	border: 1px solid #d3d3d3;
}
.disc-setcion .content .inner {
	position: relative;
	height: 100%;
	box-sizing: border-box;
	padding: 0 25px;
	border: 1px solid #fff;
	background-color: #f5f5f5;
}
.disc-setcion .content .inner .control {
	position: absolute;
	width: 17px;
	height: 17px;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../image/login_sprite.png) no-repeat
}
.disc-setcion .content .control.pre {
	left: 2px;
	background-position: -260px -75px;
}
.disc-setcion .content .control.pre:hover {
	background-position: -280px -75px;
}
.disc-setcion .content .control.nxt {
	right: 2px;
	background-position: -300px -75px;
}
.disc-setcion .content .control.nxt:hover {
	background-position: -320px -75px;
}
.disc-setcion .inner .roller {
	height: 100%;
	display: flex;
	overflow: hidden;
}
.disc-setcion .inner .roller .list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-shrink: 0;
	padding-top: 10px;
	background-color: #f5f5f5;
}

.disc-setcion .roller .list .item {
	width: 118px;
	height: 150px;
}
.disc-setcion .roller .item .album {
	position: relative;
}
.disc-setcion .roller .album .cover {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../image/cover_sprite.png) no-repeat 0 -570px;
}
.disc-setcion .roller .album .icon-play {
	display: none;
	position: absolute;
	right: 10px;
	bottom: 5px;
	width: 22px;
	height: 22px;
	background: url(../image/music_icon_sprite.png) no-repeat 0 -85px;
}
.disc-setcion .roller .album:hover .icon-play {
	display: block;
}

.disc-setcion .roller .item a {
	display: block;
	margin-top: 5px;
	padding-right: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	
}
.disc-setcion .roller .item a:hover {
	text-decoration: underline;
}
.disc-setcion .roller .item a.title {
	color: #000;
}
.disc-setcion .roller .item a.anthor {
	color: #666;
}