
body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper_01 {
	width: 1100px;
	margin: 0 auto;
}
.wrapper_02 {
	width: 980px;
	margin: 0 auto;
}
.wrapper_03 {
	width: 982px;
	margin: 0 auto;
}

.topbar_sprite {
	display: inline-block;
	background-image: url('../image/topbar.png');
}

.banner_sprite {
	display: inline-block;
	background-image: url(../image/banner_sprite.png);
}

.topbar_icon_hot {
	width: 28px;
	height: 19px;
	background-position: -190px 0;
}

.btn_sprite {
	display: inline-block;
	background: url(../image/btn_sprite.png) no-repeat;
	/* 如果高度一样的话,可以直接放在这里 */
	height: 31px;
	line-height: 31px;
	text-align: center;
}

.btn_type_01_sup {
	background-position: right -100px;
	padding-right: 5px;
	box-sizing: border-box;
}

.btn_type_01_sub {
	display: block;
	background-position: 0 -59px;
	padding-left: 5px;
	box-sizing: border-box;
}

.btn_type_favor_sup {
	background-position: right -1020px;
	padding-right: 5px;
}
.btn_type_favor_sub {
	display: inline-block;
	background-position: 0 -977px;
	padding-left: 28px;
	padding-right: 3px;
}

.icon_sprite {
	background-image: url(../image/music_icon_sprite.png);
	display: inline-block;
}
.icon_sprite_music {
	width: 14px;
	height: 11px;
	background-position: 0 -24px;
}
.icon_sprite_play01 {
	width: 16px;
	height: 17px;
	background-position: 0 0;
}

.iconall_sprite {
	display: inline-block;
	background: url(../image/iconAll_sprite.png);
}

.iconall_sprite_radio {
	display: inline-block;
	width: 35px;
	height: 15px;
	background-position: -31px -658px;
}